{% extends 'base.html.twig' %}

{% block title %}payement
{% endblock %}

{% block body %}
	<h1 class="text-center">Merci de votre payement les articles seront bientot chez vous !</h1>
	
{% endblock %}